

.places{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}

.places h1{
    font-size: 30px;
    width: 100%;
    margin-left: 20px;
}

.places article{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.places article h2{
    font-size: 30px;
}

.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    position: absolute;
    height: 60px;
    font-size: 30px;
    min-width: 60px;
    right: 5%;
    top: 5%;
    text-align: center;
    line-height: 60px;
    padding: 5px 5px;
}

.information {
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    height: 80px;
    display:flex;
    justify-content: center;
    margin-top: 70px;
}

.max_guest, .number_rooms, .number_bathrooms{
    width: 100px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 2%;
}

.max_guest{
    background-image: url('../images/icon_group.png');
}

.number_rooms{
    background-image: url('../images/icon_bed.png');
}

.number_bathrooms{
    background-image: url('../images/icon_bath.png');
}

.user {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
}

.user span {
    font-weight: bold;
}

.description {
    text-align: left;
}

section.places .amenities {
    margin-top: 40px;
    display: block;
    height: auto;
    text-align: left;
    width: 100%;
}
section.places .reviews {
    margin-top: 40px;
    text-align: left;
}

section.places .amenities h2, section.places .reviews h2 {
    font-size: 16px;
    border-bottom: #DDDDDD 1px solid;
    padding-bottom: 2%;
}

section.places ul {
    list-style: none
}

section.places .amenities ul {
    padding-top: 5%;
}

section.places .amenities ul li {
    
    height: 20px;
    width: 100%;
    line-height: 25px;
    padding-left: 35px;
}

section.places .amenities ul li.tvIcon {
    background: url("../images/icon_tv.png") no-repeat;
    background-position: center left;
    background-size: contain;
}

section.places .amenities ul li.wifiIcon {
    background: url("../images/icon_wifi.png") no-repeat;
    background-position: center left;
    background-size: contain;
}

section.places .amenities ul li.petsIcon {
    background: url("../images/icon_pets.png") no-repeat;
    background-position: center left;
    background-size: contain;
}

section.places .reviews ul li {
    padding-top: 5%;
}

section.places .reviews ul li h3 {
    font-size: 14px;
}

section.places .reviews ul li p {
    font-size: 12px;
}

@media screen and (max-width: 500px) {
    .places h1{
        font-size: 25px;
    }

    .places article{
        width: 350px;
        height: 105vh;
    }

    .places article h2{
        font-size: 25px;
    }
    
    .price_by_night{
        height: 50px;
        font-size: 25px;
        min-width: 50px;
        right: 10px;
        top: 10px;
    }

    section.places .amenities{
        margin-left: 5px;
    }
}

@media screen and (max-width: 320px) {
    .places h1{
        font-size: 25px;
    }

    .places article{
        width: 250px;
        height: 105vh;
    }

    .places article h2{
        font-size: 25px;
    }
    
    .price_by_night{
        padding: 3px 3px;
        height: 50px;
        font-size: 20px;
        min-width: 50px;
        right: 10px;
    }

    section.places .amenities{
        margin-left: 5px;
    }
}
